<aside class="d-flex flex-column justify-content-between align-items-center">
  <figure class="logo-wrapper mt-3">
    <img src="/icons/PMS.svg" alt="logo-image" class="logo" />
  </figure>
  <ul class="menu mt-4">
    <li class="menu-item mb-3 p-3">
      <img src="/icons/control-room.svg" alt="Control Room Icon" />
    </li>
    <li class="menu-item mb-3 p-3">
      <img src="/icons/dashboard.svg" alt="Dashboard Icon" />
    </li>
    <li class="menu-item mb-3 p-3">
      <img src="/icons/elements.svg" alt="Elements Icon" />
    </li>
    <li class="menu-item mb-3 p-3">
      <img src="/icons/settings.svg" alt="Settings Icon" />
    </li>
    <li class="menu-item mb-3 p-3">
      <img src="/icons/notifications.svg" alt="Notifications Icon" />
    </li>
  </ul>
  <button class="btn logout-btn mb-3">
    <img src="/icons/logout.svg" alt="Logout Icon" />
  </button>
</aside>
